{
  "extends": ["eslint:recommended", "next", "prettier"],
  "ignorePatterns": [ "**/__tests__/*.spec.ts"],
  "rules": {
    "no-unused-vars": "warn",
    "no-undef": "off",
    "react/display-name": "off"
  }
}
