html {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

@media (max-width: 600px) {
  html {
    font-size: 15px;
  }
}
