.postContents {
  line-height: 1.7;
  font-size: 1rem;
}

.postContents h1,
.postContents h2,
.postContents h3,
.postContents h4,
.postContents h5,
.postContents h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;

  font-weight: 700;
  line-height: 1.5;
}

.postContents h1 {
  font-size: 2.2rem;
}
.postContents h2 {
  font-size: 1.8rem;
}
.postContents h3 {
  font-size: 1.6rem;
}
.postContents h4 {
  font-size: 1.3rem;
}
.postContents h5 {
  font-size: 1.2rem;
}
.postContents h6 {
  font-size: 1.1rem;
}
.postContents p {
  margin: 1rem 0;
  white-space: pre-line;
  overflow-wrap: anywhere;
}

.postContents strong,
.postContents b {
  font-weight: normal;
}

.postContents code:not([class*="language"]),
.postContents strong,
.postContents b {
  margin: 0 0.2rem;
  padding: 0 0.2rem;
  border-radius: 0.2rem;
}

.postContents a {
  color: #007fd4;
}

.postContents ul,
.postContents ol {
  margin: 1rem 0;
  padding-left: 2.4rem;
}

.postContents ul {
  list-style-type: disc;
}
.postContents ol {
  list-style-type: decimal;
}
.postContents ul ul,
.postContents ol ul {
  list-style-type: circle;
  margin-top: 0.4rem;
}
.postContents ol ol,
.postContents ul ol {
  list-style-type: lower-latin;
  margin-top: 0.4rem;
}

.postContents li {
  margin-bottom: 0.4rem;
}

.postContents img {
  max-width: 100%;
}

.postContents hr {
  margin: 2rem 0;
}

.postContents pre {
  background-color: #333333;

  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.8rem;

  overflow-x: auto;
}

.postContents .table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.postContents table {
  border-collapse: collapse;
}
